// Colors
$default: #392f5aff;
$default-1: #2B427Dff;
$default-2: #4C6091ff;
$default-3: #7D8BAFff;
$default-4: #A5AFC8ff;
$clr_black: #000;
$clr_green: #a8c7bbff;
$clr_grey: #f5f5f5;
$clr_white: #fff;

// Fonts
$ft_title: 'RocknRoll One', sans-serif;
$ft_text: 'Open Sans', sans-serif;


* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
	outline: 0px !important;
}
body {
	font-family: $ft_text;
	font-size: 15px;
	line-height: 1.33;
	font-weight: 400;
}
h1 {
	font-family: $ft_title;
}
h3 {
	font-family: $ft_title;
}
h2 {
	font-family: $ft_title;
	font-size: 20px;
	text-transform: uppercase;
}
h4 {
	font-family: $ft_title;
	font-size: 20px;
	text-transform: uppercase;
}
h5 {
	font-family: $ft_title;
	font-size: 20px;
	text-transform: uppercase;
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav-pills .nav-link {
	color: $default-1;
}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
	color: $clr_white;
	background-color: $default-1;
}

.login-container {
	margin-top: 5%;
	margin-bottom: 5%;
	form {
		padding: 10%;
		.btn-spacer {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.login-form-1 {
	padding: 5%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	h3 {
		text-align: center;
		color: $clr_black;
	}
	.btnSubmit {
		font-weight: 600;
		color: $clr_white;
		background-color: $default_1;
	}
	.ForgetPwd {
		color: $default_1;
		font-weight: 600;
		text-decoration: none;
	}
}
.login-form-2 {
	padding: 5%;
	background: $default_1;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	h3 {
		text-align: center;
		color: $clr_white;
	}
	.btnSubmit {
		font-weight: 600;
		color: $default;
		background-color: $clr_white;
	}
	.ForgetPwd {
		color: $clr_white;
		font-weight: 600;
		text-decoration: none;
	}
}
.btnSubmit {
	width: 50%;
	border-radius: 1rem;
	padding: 1.5%;
	border: none;
	cursor: pointer;
}



.credits {
	padding: 25px 0;
	background-color: $clr_grey;
	.powered {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		span {
			margin-left: 4px;
		}
	} 
}
